<div class="container">
    <div *ngIf="post">
        <h6 class="name">{{post.user.name}}</h6>
        <p class="title">{{post.title}}</p>
        <p>{{post.body}}</p>
    </div>
    <br>
    <h5 class="mb-3">Add new post</h5>
    <div *ngIf="post">
        <app-new-comment
            [postId]="post.id"
            (createComment)="createComment($event)">
    </app-new-comment>
    </div>
    <br>
    <h5 class="mb-3">Comments</h5>
    <app-comment-item
        *ngFor="let comment of commentsList"
        [comment]="comment"
        (deleteComment)="deleteComment($event)">
    </app-comment-item>
</div>