<form [formGroup]="commentForm" class="col-md-8 border p-3">
    <div class="row p-1 mb-2">
        <div class="col">
            <input type="text" formControlName="name" placeholder="Name" class="form-control" required
            [ngClass]="{'is-invalid': commentForm.controls.name.invalid && (commentForm.controls.name.dirty || commentForm.controls.name.touched)}">
            <div class="invalid-feedback">Please provide a valid name.</div>
        </div>
        <div class="col">
            <input type="email" formControlName="email" placeholder="Email" class="form-control"
            [ngClass]="{'is-invalid': commentForm.controls.email.invalid && (commentForm.controls.email.dirty || commentForm.controls.email.touched)}">
            <div class="invalid-feedback">Please provide a valid email.</div>
        </div>
    </div>
    <div class="row p-1 mb-2">
        <div class="col">
            <textarea type="text" formControlName="body" placeholder="Write a comment..." class="form-control"
            [ngClass]="{'is-invalid': commentForm.controls.body.invalid && (commentForm.controls.body.dirty || commentForm.controls.body.touched)}">
            </textarea>
            <div class="invalid-feedback">Please provide a valid comment.</div>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-3">
            <input type="button" (click)="submitComment()" value="Send" class="btn btn-primary btn-sm form-control">
        </div>
    </div>
</form>